.add-job{

margin-top:40px;

background:#081326;

padding:30px;

border-radius:26px;

border:
1px solid
#18325b;

}

.add-job h2{

margin-bottom:25px;

color:white;

}

.add-job input,

.add-job textarea{

width:100%;

height:52px;

margin-bottom:18px;

padding-left:20px;

background:#071325;

border:none;

border-radius:14px;

color:white;

}

.add-job textarea{

height:140px;

padding-top:20px;

resize:none;

}

.add-job button{

width:220px;

height:52px;

border:none;

border-radius:14px;

background:
linear-gradient(
90deg,
#ff2ea6,
#5f73ff
);

color:white;

font-size:18px;

cursor:pointer;

}