@import "tailwindcss";

*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
background:#050814;
color:white;
font-family:Inter,sans-serif;
}

.app{
width:100%;
min-height:100vh;
}

.container{
width:95%;
margin:auto;
}

.gradient-btn{
background:linear-gradient(
90deg,
#ff2ea6,
#4a5cff
);

border-radius:12px;

transition:.3s;
}

.gradient-btn:hover{
transform:translateY(-2px);
}

.card{
background:#091223;

border:1px solid #1b2a49;

border-radius:18px;

backdrop-filter:blur(20px);
}

.section{
padding-top:30px;
}