.details-page{

padding:40px;

}

.details-card{

background:#081326;

padding:40px;

border-radius:28px;

border:1px solid #1f3962;

}

/* ONLY DETAILS PAGE */

.details-card .top{

display:flex;

justify-content:space-between;

align-items:flex-start;

}

.details-card .top h1{

color:white;

}

.details-card .top h3{

color:#5d82ff;

margin-top:10px;

}

.details-card .row{

display:flex;

gap:50px;

margin-top:24px;

color:#bcc8dc;

}

.details-card .salary{

color:#31d56b;

font-weight:700;

}

.details-card .skills{

display:flex;

gap:12px;

flex-wrap:wrap;

margin-top:18px;

}

.details-card .skills span{

padding:8px 16px;

background:#111d36;

border-radius:999px;

color:white;

}

.details-card h2{

margin-top:36px;

color:white;

}

.details-card p{

margin-top:18px;

line-height:32px;

color:#c3cee1;

}

.apply-big{

margin-top:32px;

width:230px;

height:60px;

border:none;

border-radius:18px;

background:
linear-gradient(
90deg,
#ff2ea6,
#5d74ff
);

color:white;

font-size:18px;

cursor:pointer;

}

.back-btn{

width:180px;

height:48px;

border:none;

border-radius:14px;

background:#101d36;

color:white;

cursor:pointer;

margin-bottom:24px;

}